
.navbar
{
  margin:5px 35px;
  padding:0;
  border-bottom: 1px solid;
}
.container
{
  margin:5px 25px;
  width: 100%;
  max-width: 100%;
  padding:0;
}
.row
{
  width: 100%;
  flex-wrap: unset;
}
.col-3
{
  padding:15px;
  padding-right:20px;
  border:0;
}
.card
{
 border:2px solid;
 border-radius: 0px;
 width:100%;
}
.card-body
{
  padding:10px 10px 10px 10px;
}
.card-detail
{
  text-align: center;
}
.card-title
{
  padding:5px;

}
.card-subtitle
{
  padding:5px;
}
.card-text
{
  padding-bottom:10px;
}
.form-group
{
  width: 200px;
}
.col
{
  padding: 15px 50px; 
}
input
{
  border:2px solid;
}
.add-form
{
  padding-left: 70px;
}
.add-form .row 
{
  padding-bottom: 10px;
}
.add-form label
{
  padding-right: 40px;
  width: 70px;
}